*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bookman old style", "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    list-style: none;
    outline: none;
    transition:all .3s cubic-bezier(.38,1.15,.7,1.12);
}

:root
{
    --red : rgb(247, 0, 0);
    --fred : rgba(247, 0, 0, 0.034);
    --fon : rgba(0, 180, 69, 0.185);
    --fond : #ffff;
    --main-color:#4C84FF;
    --primary-bg-color:#fff;
    --secondary-bg-color:#eee;
    --primary-text-color:#222;
    --secondary-text-color:#666;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    /* scroll-behavior: smooth; */
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--red);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--red);
}

body
{
    min-height: 1000px;
    background-color: var(--fred);
}

h1, .promo h2, .home h2, .home p, .promo p, .home a, .promo a
{
  color: #fff;
}

section
{
    padding: 40px 30px;
}

h2
{
    font-size: 45px;
    text-align: center;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    transition: 0.6s;
    z-index: 999;
}

header.sticky
{
    padding: 5px 0;
    background: rgba(0, 29, 7, 0.61);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.logo
{
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}
.logo span
{
    color: var(--red);
}

header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    position: relative;
    list-style-type: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    font-weight: 900;
    transition: 0.6s;
}

header ul li a:before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--red);
    z-index: -1;
    transition: 0.5s ease-in-out;
}

header ul li a:hover:before,
header ul li a.active:before
{
    width: 100%;
    height: 100%;
    border-radius: 0 35% 20% 20%;
}

.commande{
  background: var(--red);
  color: #fff;
  padding: 7px 10px;
  border: 2px solid var(--red);
  border-radius: 10px;
  font-weight: 900;
  cursor: pointer;
  
}

.commande:hover{
  background: none;
  color: #fff;
  border: 2px solid var(--red);

  
}


.home
{
    background: linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.479)),url(../images/plat.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home .content, .action .content
{
    max-width: 750px;
    color: #fff;
    text-align: center;
}

.home .content h1
{
    font-size: 60px;
}

.home .content p, .action .content p
{
    font-size: 20px;
}


.home .content a,
.action .content a,
.promo .content a
{
    position: relative;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid var(--red);
    border-radius: 10% 40% 10% 40%;
    z-index: 99;
}

.home .content a:before,
.action .content a:before,
.promo .content a:before
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: var(--red);
    z-index: -1;
    transition: 0.5s ease-in-out;
    z-index: -999;
}

.home .content a:hover:before,
.action .content a:hover:before,
.promo .content a:hover:before
{
    width: 100%;
    height: 100%;
    border-radius: 10% 40% 10% 10%;
}

.about
{
    padding: 50px;
}

.about .content{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */

}

.about  h2{
    font-size: 3rem;
    text-align: center;
}

.about .content .box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.about .content .box .sBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    max-width: 300px;
    margin: 10px auto;
    box-shadow: 0 1px 1px 1px #000;
}

.about .content .box .sBox:hover{
    box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.548);
}

.about .content .box .sBox img{
    width: 100px;
    text-align: center;
}

.about .content .box .sImg img{
    width: 400px;
    text-align: center;
}


.fday
{
  background: var(--fon);
  background-repeat: no-repeat;
  background-size: cover;
}
 
.fday .content .recette
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fday .content .recetteImg
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.fday .content .recetteImg img
{
    width: 250px;
    margin: 5px;
}

.fday .content .recette .box
{
    width: 350px;
    padding: 15px;
}

.fday .content .recette .box img
{
    width: 100%;
}

.teamBx
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 100%;
    margin-top: 40px;
}

.teamBx .member
{
    position: relative;
    background: #000;
    min-height: 300px;
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamBx .member .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.teamBx .member .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teamBx .member .details
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    transition: 0.2s;
    opacity: 0;
}

.teamBx .member:hover .details
{
    opacity: 0.7;
    transition: 0.3s;
}

.teamBx .member .details h2
{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 1px;
}

.teamBx .member .details h2 span
{
    display: block;
    font-size: 10px;
    font-weight: 300;
}



.promo
{
    padding: 50px;
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.658)),url(../images/bg-promo.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.promo .content
{
    display: flex;
    width: 850px;
    justify-content: space-around;
    align-items: center;
}

.promo .content .img,
.promo .content .texte
{
    width: 400px;
    padding: 10px;   
}

.promo .content .img img
{
    width: 100%;
}

.promo .content p
{
    font-size: 25px;
}

.promo .content h3
{
  font-size: 30px;
}

.promo .content h3 span
{
  font-size: 15px;
  color: #fff;
}

.promo .content h3, .promo .content span
{
    color: var(--red);
}

.action
{
    padding: 50px;
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.781),rgba(0, 0, 0, 0.829)),url(../images/bg-action.jpg);
    background-position: bottom;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action .content{
  border: 2px dashed rgb(255, 255, 255);
  padding: 20px;
}

.action .content h2,
.action .content p,
.action .content a{
  color: #fff;
}

.produits .button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.produits .button-container .btn{
    margin:1rem;
    cursor: pointer;
}

.produits .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.produits .image-container .box{
    width:35rem;
    margin: 1rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    overflow: hidden;
    height: 25rem;
    position: relative;
    border:1.5rem solid var(--primary-bg-color);
    cursor: pointer;
}

.produits .image-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.produits .image-container .box .info{
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:var(--primary-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    opacity: .9;
    transform: scale(0);
}

.produits .image-container .box:hover .info{
    transform: scale(1);
}

.produits .image-container .box .info h3{
    font-size: 2.5rem;
    color:var(--primary-text-color);
}


.blog
{
    padding: 50px;
    min-height: 100vh;
    /* background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.658)),url(../images/bg-promo.jpg); */
    background-color: var(--fred);
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.blog h2
{
  margin: 15px auto ;
}

.blog .content
{
    display: flex;
    justify-content: space-around;
    justify-content: center;
}

.blog .content .box
{
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 50%;
}
.blog .content .tbox
{
  display: flex;
  flex-direction: column;
}

.blog .content .box img
{
  width: 100%;
}

.blog .content .box h3{
  font-size: 28px;
}

.blog .content .box .comments
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog .box .commentaires img{
  width: 30px;
  margin: 1px;
  cursor: pointer;
  border-radius: 50%;
}
.blog .box .commentaires img:hover{
  filter: invert(0.7);
}

.blog .content .sbox{
  display: flex;
  margin: 5px auto;
}

.blog .content .sbox h3{
  font-size: 22px;
}

.blog .content .box h3 a:hover{
  color: var(--red);
}

.blog .content .sbox img
{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}


.contact .content{
  display: flex;
  justify-content: space-around;
}

.contact .content .form{
  padding: 20px 10px;
  width: 500px;
}

.contact .content .form form{
  width: 100%;
}
  
.contact .content .form .text
{
  width: 100%;
  margin: 5px auto;
}

.contact .content .form .text
{
  display: flex;
  justify-content: space-between;
}

.contact .content .form .text input,
.contact .content .form .text textarea
{
  width: 100%;
  padding: 10px 5px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.247);
  margin: 0 8px;
  background: none;
}

.contact .content .form .text input[type="submit"]
{
    background-color: var(--red);
    border-radius: 10px;
    color: #fff;
    border: 2px solid var(--red);
}
  

footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1px 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.322);
}

footer .box{
  display: flex;
  align-items: center;
}

footer .box img{
  width: 30px;
  margin: 5px;
  cursor: pointer;
  border-radius: 50%;
  filter: saturate(var(--fred));
}
footer .box img:hover{
  filter: invert(0.7);
}


.toggle{
    display: none
}

@media (max-width: 992px)
{
    .toggle
    {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    .toggle:before
    {
        content: "";
        position: absolute;
        top: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }

    .toggle:after
    {
        content: "";
        position: absolute;
        bottom: 4px;
        width: 100%;
        height: 2px;
        background: #000;
        z-index: 1;
        transition: 0.5s;
    }

    .logo img
    {
        width: 60px;
        filter: invert(0);
        transition: 2s;
    }
    
    header.sticky .logo img
    {
        width: 40px;
        filter: invert(0);
        transition: 2s;
    }

    header,
    header.sticky
    {
        padding: 5px 5px;
        background: #fff;
    }

    header ul
    {
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: auto;
        background: #fff;
        visibility: hidden;
        opacity: 0;
    }

    header.active ul
    {
        visibility: visible;
        opacity: 1;
        display: block;
        padding-top: 20px;
    }

    header.active ul li a
    {
        display: inline-block;
        margin: 10px 0;
        font-size: 20px;
    }

    header .logo,
    header ul li a
    {
        color: #000;
    }


    .banner
    {
        background-position: center;
    }

    .banner h2
    {
        font-size: 60px;
        padding: 0 50px;
    }

    .sec
    {
        padding: 100px 50px 50px 50px;
    }

    .services .box
    {
        width: 100%;
    }

    .stats
    {
        padding-top: 250px;
    }

    .row100
    {
        flex-direction: column;
    }

    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100
    {
        width: 100%;
        margin: 0;
    }

    .sci
    {
        margin: 20px;
    }

    .sci ul li a img
    {
        font-size: 24px;
    }

    h3
    {
        font-size: 36px;
    }
}